{% extends "base.html" %}

{% block body %}
<style type="text/css">
.lead{
	font-size: 35px;
    font-weight: 400;
    color: #2db938;
    font-style: italic;
}
.me{
	    color: ##7547e4;

}
h6 span{
	    font-size: 25px;
    color: #009976;
    padding-bottom: 10px
}
</style>
<div class="container" style="min-height: 450px;"><br>
<p class="lead">
    cut.co is free service no ads or tracking just a small thing to make other people life much easier
</p>
<h2 class= "text-center"> About Me </h2>
<p class="lead me">
My name is : <strong>Abdalrhman Mahmoud </strong>
i am web developer <br>
start web development from +2 years as passion and something i like to do besides my study in business administration at Cairo University.<br>
 after few weeks i can't see my self only web developer so i did alot of front-end project from many countries<br>
  this consider my first project with Django i put it live.
 it didn't have much but I will add further as i move on with my developing skills 
thanks for your time and feel free to text me any time</h3>
<h6 class="text-center">Skype :<span>abdalrhmanmahmoud72</span></h6>
<h6 class="text-center">Yahoo : <span>abdalrhman18695@yahoo.com</span></h6>

</p>
</div>
{% endblock %}

