{% extends "base.html" %}

{% block body %}
        <style>
        body{ background-color: #ec5555;}
            .bodypage{
            min-height: 500px;
            padding-top: 128px;
            }
        .bodypage a{
        font-size:1.4em;
         padding: 10px;
        }
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
            margin-top: 40px;
            margin-left: 86px;
            }
        </style>
        <div class="container text-center bodypage" style="min-height: 450px;">
                <span>full link : </span>
                <a href="{{ object.url }}"> {{ object.url }} </a> <br>
               <span>short link :</span>
               <a href="{{ object.get_short_url}}" target="_blank"> {{object.get_short_url }}</a> <br>
            <button type="button" class="btn btn-warning"><a href='/'> make  New one </a></button>
        </div>

{% endblock %}